<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, ID которого было передано в адрес -->
{% block content %}
<h1>{{ new.heading|Censor }}</h1>
<br>
<body>
    <div align="left"><b>Дата публикации: {{ new.post_date|date:'d.m.Y'  }}</b></div>
    <br>
    <p align="justify" >{{ new.body|Censor }}</p>
</body>
{% endblock content %}