<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет news -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все новости</h1>
<h3>Количество публикаций: {{news|length}}</h3>
<hr>
    {% if news %} <!-- Если есть товары, то выводим таблицу с ними -->
        {% for new in news %} <!-- Для каждого поста будет генерироваться новая строчка, т. е. новый
        html-код. При этом сам цикл работает точно так же, как и в Python.
        new — переменная цикла, т. е. наш пост, взятый из общего списка -->
            <h5 align="left" >
                <b>{{ new.heading|Censor }}</b> <!-- не забываем, что переменные в шаблоне ничем не отличаются от
                переменных в Python. Здесь также можно получать доступ к полям класса.
                Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->

            </h5>
            <div align="left">
                Опубликовано: <b><em>{{ new.post_date|date:'d.m.Y'  }}</em></b>

            </div>
            <br>
            <div align="left">
                {{ new.body|truncatewords:20|Censor }}
            </div>
            <br>
            <hr>

        {% endfor %}
    {% else %} <!-- Если товаров нет, то говорим, что товаров нет ;) -->
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}